node-red/00 master-switch-flow.json
[
    {
        "id": "60b5d8044cd240a3",
        "type": "tab",
        "label": "Home Battery Master Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d608a4a32e0df080",
        "type": "group",
        "z": "60b5d8044cd240a3",
        "name": "Marstek master control switch",
        "style": {
            "label": true
        },
        "nodes": [
            "b49db4d0a798f164",
            "5321fe5ab7f757a6",
            "3cc99e704b42536a",
            "052a65658a9d42a7",
            "880b4bd707f6cd0b"
        ],
        "x": 34,
        "y": 19,
        "w": 898,
        "h": 382
    },
    {
        "id": "880b4bd707f6cd0b",
        "type": "group",
        "z": "60b5d8044cd240a3",
        "g": "d608a4a32e0df080",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "1457af64557f3041",
            "b3a11a0e32755bcc",
            "0d5735b73237bcd7",
            "dacfd8968c7ae3a0",
            "bc51a1a250c21426",
            "9d1fca88cd539df4"
        ],
        "x": 414,
        "y": 99,
        "w": 492,
        "h": 222
    },
    {
        "id": "b49db4d0a798f164",
        "type": "api-current-state",
        "z": "60b5d8044cd240a3",
        "g": "d608a4a32e0df080",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "5321fe5ab7f757a6"
            ]
        ]
    },
    {
        "id": "1457af64557f3041",
        "type": "function",
        "z": "60b5d8044cd240a3",
        "g": "880b4bd707f6cd0b",
        "name": "Set RS485 and Work Modes",
        "func": "// array for output \nlet outputArray = [];\n\n// battery to target\nconst target = `marstek_m${msg.battery_index}`;\n\n// Set | work mode\nconst workModeAction = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_user_work_mode`]\n    },\n    \"data\": {\n         \"option\": String(msg.work_mode)\n    }\n};\n// Add to output array. Set null for no action.\noutputArray.push(msg.work_mode ? { payload: workModeAction, topic:\"user_work_mode\"}: null);\n\n// Set | rs485\nconst rs485Action = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_rs485_control_mode`]\n    },\n    \"data\": {\n         \"option\": String(msg.rs485)\n    }\n};\n// Add to output array. Set null for no action.\noutputArray.push(msg.rs485 ? { payload: rs485Action, topic: \"rs485_control_mode\" } : null);\n\n// Store calls in msg to allow checking of loop results\nmsg.loop_result = { target, workModeAction, rs485Action };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Outputs\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "b3a11a0e32755bcc"
            ],
            [
                "0d5735b73237bcd7"
            ],
            [
                "bc51a1a250c21426"
            ]
        ]
    },
    {
        "id": "5321fe5ab7f757a6",
        "type": "function",
        "z": "60b5d8044cd240a3",
        "g": "d608a4a32e0df080",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// configurables\nlet workMode = null; // manual, anti-feed, ai, null = don't set or alter this setting\nlet rs485 = null;  // enable, disable, null = don't set or alter this setting\n\n// mode select\nswitch (msg.marstek_master_battery_mode) {\n    case \"Manual control\":\n        workMode = \"manual\";\n        rs485 = \"disable\";\n        break;\n    case \"Marstek control\":\n        // the user should select a work mode via the Marstek App or via select.marstek_mX_user_work_mode\n        rs485 = \"disable\";\n        break;\n    case \"Full control\":\n        rs485 = \"enable\";\n        break;\n    default:\n        node.status({fill:\"red\",shape:\"ring\",text:`Unhandled mode: ${msg.marstek_master_battery_mode}`});\n        return null; // stop flow\n}\n\n// Continue\nmsg.work_mode = workMode;\nmsg.rs485 = rs485;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "1457af64557f3041"
            ]
        ]
    },
    {
        "id": "bc51a1a250c21426",
        "type": "function",
        "z": "60b5d8044cd240a3",
        "g": "880b4bd707f6cd0b",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "dacfd8968c7ae3a0",
                "9d1fca88cd539df4"
            ]
        ]
    },
    {
        "id": "dacfd8968c7ae3a0",
        "type": "switch",
        "z": "60b5d8044cd240a3",
        "g": "880b4bd707f6cd0b",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "1457af64557f3041"
            ],
            [
                "3cc99e704b42536a"
            ]
        ]
    },
    {
        "id": "b3a11a0e32755bcc",
        "type": "api-call-service",
        "z": "60b5d8044cd240a3",
        "g": "880b4bd707f6cd0b",
        "name": "Set work mode",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 800,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "0d5735b73237bcd7",
        "type": "api-call-service",
        "z": "60b5d8044cd240a3",
        "g": "880b4bd707f6cd0b",
        "name": "Set RS485",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 790,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9d1fca88cd539df4",
        "type": "debug",
        "z": "60b5d8044cd240a3",
        "g": "880b4bd707f6cd0b",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "3cc99e704b42536a",
        "type": "debug",
        "z": "60b5d8044cd240a3",
        "g": "d608a4a32e0df080",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "052a65658a9d42a7",
        "type": "server-state-changed",
        "z": "60b5d8044cd240a3",
        "g": "d608a4a32e0df080",
        "name": "Master control mode",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.marstek_master_battery_mode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "marstek_master_battery_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 150,
        "y": 60,
        "wires": [
            [
                "b49db4d0a798f164"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "4600b0f7cd141a4d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]