node-red/00 presets-switch-flow.json
[
    {
        "id": "f13f7130a1bda6e5",
        "type": "tab",
        "label": "Home Battery PID presets",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7079a558e93bec2b",
        "type": "group",
        "z": "f13f7130a1bda6e5",
        "name": "PID presets",
        "style": {
            "label": true
        },
        "nodes": [
            "81f3b4928caf43d3",
            "5c4059cc4c601488",
            "e8f07307252629ab",
            "8b2d473346c90dd3",
            "995a5b9d3081cc07",
            "212a37e25ff47b65",
            "e7afca1d4d663337"
        ],
        "x": 34,
        "y": 19,
        "w": 632,
        "h": 242
    },
    {
        "id": "81f3b4928caf43d3",
        "type": "server-state-changed",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "PID preset selected",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.house_battery_control_pid_presets"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "995a5b9d3081cc07"
            ]
        ]
    },
    {
        "id": "5c4059cc4c601488",
        "type": "api-call-service",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "Kp",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_kp"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 510,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e8f07307252629ab",
        "type": "api-call-service",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "Ki",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_ki"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8b2d473346c90dd3",
        "type": "api-call-service",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "Kd",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_kd"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "995a5b9d3081cc07",
        "type": "function",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "Presets",
        "func": "// See: house_battery_control.yaml > input_select: > house_battery_control_pid_presets\nconst preset = RED.util.getMessageProperty(msg,\"payload\");\nnode.status({fill:\"green\",shape:\"dot\",text:`${preset}`});\n\n\n// Default values\nlet Kp = 0; // Proportional gain\nlet Ki = 0; // Integral gain\nlet Kd = 0; // Differentiating gain\nlet Si = 0; // % Input smoothing (a Low pass moving average filter)\nlet So = 0; // % Output smoothing (a Low pass moving average filter)\n\nswitch (preset) {\n    // For people who have unstable systems with every other preset\n    case \"Very safe\":\n        Kp = 0.1;\n        Ki = 0.1;\n        Si = 0; // without Kd, this is preferred to be zero.\n        So = 10; // %\n        break;\n    // Good starting point for most\n    case \"Safe\":\n        Kp = 0.3;\n        Ki = 0.3;\n        Kd = 0.1;\n        Si = 20; // %\n        So = 0; // %\n        break;\n    // Gitcodebob's October 2025 settings for 3.2kWp PV and 5kW battery transformer power\n    case \"Regular\":\n        Kp = 0.3;\n        Ki = 0.4;\n        Kd = 0.8;\n        Si = 50; // % This high amount of filtering allows the stronger Kd\n        So = 10; // %\n        break;\n    default:\n        // Don't change values\n        return null;\n}\n\n// Prepare for three outputs\nreturn [\n    { \"payload\": Kp },\n    { \"payload\": Ki },\n    { \"payload\": Kd },\n    { \"payload\": Si },\n    { \"payload\": So }\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "5c4059cc4c601488"
            ],
            [
                "e8f07307252629ab"
            ],
            [
                "8b2d473346c90dd3"
            ],
            [
                "212a37e25ff47b65"
            ],
            [
                "e7afca1d4d663337"
            ]
        ]
    },
    {
        "id": "212a37e25ff47b65",
        "type": "api-call-service",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "Input Smooth",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_error_signal_dampening"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 530,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e7afca1d4d663337",
        "type": "api-call-service",
        "z": "f13f7130a1bda6e5",
        "g": "7079a558e93bec2b",
        "name": "Output Smoothing",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_pid_output_dampening"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 550,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "e9c6fbca94b7acb9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]