node-red/01 start-flow.json
[
    {
        "id": "50a4e17a9f336335",
        "type": "tab",
        "label": "Home Battery Start v4.5.0",
        "disabled": false,
        "info": "# Home battery control\r\nConsists of three flows:\r\n 1.  Start flow\r\n 1.  Control flow\r\n 1.  Master switch flow\r\n\r\n## Start flow\r\nThis is the starting point of your home battery control.\r\n\r\nIt starts with P1 measurement as a trigger.\r\nIt allows you to connect your battery sensors to the flow.\r\nIt ends with a function node, mapping your batteries to a battery_array\r\n\r\nThe battery_array is passed on to the control flow.\r\n\r\nWhen the control flow has calculated the desired corrections,\r\nit is passed back to this flow and applied to your batteries.",
        "env": []
    },
    {
        "id": "5238c6958682d053",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Start",
        "style": {
            "label": true,
            "stroke": "#009ac7"
        },
        "nodes": [
            "605d7bc6c8328f3a",
            "df77d7a8c43beca1",
            "940e52473a16d6c1"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 82
    },
    {
        "id": "26895d85c82dde91",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Strategy selection",
        "style": {
            "label": true
        },
        "nodes": [
            "f06446ad0b0a622d",
            "f3fce76b063d839f",
            "c0538092966e59a7",
            "2502adec99c513ad",
            "44640491b5d26543",
            "be7ae9cdbb7d2ac3",
            "4441773c20495756",
            "8a5312bc5cf85003"
        ],
        "x": 34,
        "y": 939,
        "w": 852,
        "h": 162
    },
    {
        "id": "9f1b7e0ead0331df",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Get batteries information",
        "style": {
            "label": true
        },
        "nodes": [
            "8e43afe0206fdd4b",
            "2c5305a0b2b3a76b",
            "eeeba772da490941",
            "9349e7f7ae6dca61",
            "7022c7cffd979729",
            "a922881ae08fe9ea",
            "e0ac64653a0bd464",
            "a09accf67ca6ddd9"
        ],
        "x": 34,
        "y": 379,
        "w": 1678,
        "h": 242
    },
    {
        "id": "d550daeddc6bd3af",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "On deploy and global logger",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "1cca99bbd08c0b9e",
            "e1beed9bbf904c5c",
            "069e80ec5980efc9"
        ],
        "x": 1294,
        "y": 19,
        "w": 592,
        "h": 82
    },
    {
        "id": "e578bc1366a974d4",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Set Batteries",
        "style": {
            "label": true
        },
        "nodes": [
            "2826afb51b17017f",
            "c8029e3eeafd8f23",
            "b93af161d1d1e2f1",
            "8bbc13c26b567c65",
            "1bade2bb34434503",
            "eebdfa5b298cfe74",
            "01c76e560a0a50f6"
        ],
        "x": 34,
        "y": 1119,
        "w": 858,
        "h": 342
    },
    {
        "id": "1432f3d36d6227f3",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Battery priority",
        "style": {
            "label": true
        },
        "nodes": [
            "ec4dc29afec0c515",
            "72b7e5167d8e725c",
            "04a4a5d2f18ff6e1",
            "30465ea2551f171e",
            "9ecdd324aabba371",
            "ee8fbe938dfd5b0f",
            "d2f976b0a92cebe0",
            "3883f43dc1ff61d5",
            "a49f69320a2014ec"
        ],
        "x": 34,
        "y": 739,
        "w": 1852,
        "h": 82
    },
    {
        "id": "4fc0bfbe8a8126d4",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Calculate totals",
        "style": {
            "label": true
        },
        "nodes": [
            "937489266b802f6f"
        ],
        "x": 34,
        "y": 639,
        "w": 212,
        "h": 82
    },
    {
        "id": "819387ee9aced7d9",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Rate limiter",
        "style": {
            "label": true
        },
        "nodes": [
            "683e500f48b2728b",
            "c78cbf3e23248dd8",
            "149d3d350de92e5c",
            "5e04455bc42d39c6",
            "133fb56760e7ee7b",
            "a519cb7f9e078e1e",
            "faa61154730d7905",
            "616289c13ee6716d",
            "50f6f937e098e7a3",
            "80e5462c6bfc306b"
        ],
        "x": 34,
        "y": 219,
        "w": 1402,
        "h": 122
    },
    {
        "id": "73a67d7cd6637cb2",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Update UI: debug dashboard",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "8b07ab8f26447a77",
            "8766e262944d6c2c",
            "d4bc7cbe97063b07",
            "c393dab7fce22497",
            "9a17fa0e52c23f41",
            "4a602d8229b9900b"
        ],
        "x": 1234,
        "y": 1319,
        "w": 632,
        "h": 202
    },
    {
        "id": "c6d3ba1fdf73770a",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Update UI: usable energy",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "b7ad03520da20ba8",
            "f0fc7a81a2a5173c"
        ],
        "x": 1474,
        "y": 639,
        "w": 412,
        "h": 82
    },
    {
        "id": "3f024f2536a19b9f",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Update UI: active sub-strategy",
        "style": {
            "label": true,
            "stroke": "#3f5787"
        },
        "nodes": [
            "84fda5edca5ec9a9",
            "2447661efe785f69",
            "5a8e58b665f9e650"
        ],
        "x": 1254,
        "y": 1019,
        "w": 632,
        "h": 82
    },
    {
        "id": "f855fb6228986402",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Insight",
        "style": {
            "label": true
        },
        "nodes": [
            "e465e35f5875d707",
            "f58350f3ae00c778",
            "e4d36d900e9e8c1b",
            "1e910df6700a3d03",
            "96b7b5ce54ab390a",
            "4ced9cd49af7d1af"
        ],
        "x": 34,
        "y": 119,
        "w": 892,
        "h": 82
    },
    {
        "id": "87f92832d04bbd3b",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Log and Error handling",
        "style": {
            "stroke": "#ff3f3f",
            "label": true
        },
        "nodes": [
            "8236d40be5a10e29",
            "1e89b13f44bc3598"
        ],
        "x": 1634,
        "y": 119,
        "w": 252,
        "h": 142
    },
    {
        "id": "6509013f878e097f",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "b6a77099141516d9",
            "8708c74ca72c9a4b",
            "03b477732f3bb88e"
        ],
        "x": 1704,
        "y": 279,
        "w": 182,
        "h": 82
    },
    {
        "id": "dc159e4c83f8b9a5",
        "type": "group",
        "z": "50a4e17a9f336335",
        "name": "Peak shave settings",
        "style": {
            "label": true
        },
        "nodes": [
            "e74aa9d4d9cde6ca",
            "1ba4db3c4ca346d2",
            "afe3e8d997dcacdf",
            "ad52d85f8c74b184"
        ],
        "x": 34,
        "y": 839,
        "w": 752,
        "h": 82
    },
    {
        "id": "7022c7cffd979729",
        "type": "group",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "adda09ea14b2952e",
            "34d1a06be2d403ff",
            "f47be9050fc9f4c2",
            "1a6e51ae22cfe831",
            "9a4abe0176c2affa",
            "a4d9dddb0d18ca53",
            "f04bc904e921c375",
            "15731d4e8d22c8cf",
            "70221fcda8a269a2",
            "10e2bdc21cd7559e"
        ],
        "x": 74,
        "y": 459,
        "w": 1612,
        "h": 82
    },
    {
        "id": "8bbc13c26b567c65",
        "type": "group",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "Loop",
        "style": {
            "label": true
        },
        "nodes": [
            "feb3e51ca565f84f",
            "35e13f154e0dfbe3",
            "2d5258801858339b",
            "067e7ece0de071a3",
            "c289ff01d4bd08ca",
            "5c3e1128129c6c14",
            "9baec44d7594b5ff"
        ],
        "x": 314,
        "y": 1159,
        "w": 552,
        "h": 222
    },
    {
        "id": "9453db3462c3ec82",
        "type": "junction",
        "z": "50a4e17a9f336335",
        "x": 40,
        "y": 360,
        "wires": [
            [
                "9349e7f7ae6dca61"
            ]
        ]
    },
    {
        "id": "605d7bc6c8328f3a",
        "type": "server-state-changed",
        "z": "50a4e17a9f336335",
        "g": "5238c6958682d053",
        "name": "P1 meter",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.p1_meter_power"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": true,
        "ignoreCurrentStateUnavailable": true,
        "outputProperties": [
            {
                "property": "grid_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "timestamp",
                "propertyType": "msg",
                "value": "",
                "valueType": "date"
            }
        ],
        "x": 120,
        "y": 60,
        "wires": [
            [
                "df77d7a8c43beca1"
            ]
        ]
    },
    {
        "id": "df77d7a8c43beca1",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "5238c6958682d053",
        "name": "Master Control Mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.marstek_master_battery_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "master_mode",
                "propertyType": "flow",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "940e52473a16d6c1"
            ]
        ]
    },
    {
        "id": "940e52473a16d6c1",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "5238c6958682d053",
        "name": "when in \"Full Control\" mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Full control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "e465e35f5875d707"
            ]
        ]
    },
    {
        "id": "f06446ad0b0a622d",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Strategy selection",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// INFLOW\nlet strategy = flow.get(\"house_battery_strategy\");\n\n// Configure msg.strategy object\nRED.util.setMessageProperty(msg,\"strategy.selected\",strategy,true); // by user\nRED.util.setMessageProperty(msg,\"strategy.trace\",[],true); // init trace: which flows have been executed\n\n// stop on error\nif(msg.batteries === undefined) {\n    logger(this, \"Battery configuration undefined\", \"error\");\n    return null;\n}\nif(strategy === undefined) {\n    logger(this, \"Battery strategy undefined\", \"error\");\n    return null;\n}\n\n// Default | select target flow based on the input_select `house_battery_strategy`\nmsg.target = `${strategy}`;\n\n// full stop trigger overrules ALL selected strategies\nconst stopTrigger = RED.util.getMessageProperty(msg,\"full_stop_trigger\");\nif(stopTrigger == \"on\" || stopTrigger === true || stopTrigger === 1) {\n    msg.target = 'Full stop';\n    // Explain\n    logger(this, `**Full Stop** strategy selected, due to (EV) stop trigger: '${stopTrigger}'`);\n}\n\n// add execution marker\nRED.util.setMessageProperty(msg,\"strategy.execution_start\",Date.now()); // when do we start executing the selected strategy\n\n// OUTPUT\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.target});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 980,
        "wires": [
            [
                "c0538092966e59a7",
                "f3fce76b063d839f"
            ]
        ]
    },
    {
        "id": "f3fce76b063d839f",
        "type": "link call",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Call \"Link in\" node",
        "links": [],
        "linkType": "dynamic",
        "timeout": "1.2",
        "x": 510,
        "y": 1020,
        "wires": [
            [
                "2502adec99c513ad",
                "44640491b5d26543"
            ]
        ]
    },
    {
        "id": "c0538092966e59a7",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Input msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 980,
        "wires": []
    },
    {
        "id": "2502adec99c513ad",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Returned msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1020,
        "wires": []
    },
    {
        "id": "44640491b5d26543",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Strategy evaluation",
        "func": "// add execution marker\nlet execution_end = Date.now();\nRED.util.setMessageProperty(msg, \"strategy.execution_end\", execution_end);\n\n// retrieve execution markers\nlet execution_start = RED.util.getMessageProperty(msg,\"strategy.execution_start\");\n\n// report execution time\nif (execution_start !== undefined && execution_end !== undefined) {\n    // exec time\n    let execution_time = (execution_end - execution_start) / 1000; // seconds\n    // report\n    if (execution_time <= 0) node.status({ fill: \"red\", shape: \"dot\", text: `negative or zero timing` });\n    if (execution_time > 0) node.status({ fill: \"green\", shape: \"dot\", text: `${execution_time} sec`});\n    if (execution_time >= 0.7) node.status({ fill: \"yellow\", shape: \"dot\", text: `${execution_time} sec` });\n    if (execution_time >= 1) node.status({ fill: \"red\", shape: \"dot\", text: `${execution_time} sec` });\n\n} else {\n    node.status({fill:\"grey\",shape:\"dot\",text:\"timing error\"});\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "b93af161d1d1e2f1",
                "be7ae9cdbb7d2ac3",
                "84fda5edca5ec9a9"
            ]
        ]
    },
    {
        "id": "8e43afe0206fdd4b",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// Init an array for battery status and value information\nmsg.batteries = [];\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 420,
        "wires": [
            [
                "adda09ea14b2952e"
            ]
        ]
    },
    {
        "id": "a922881ae08fe9ea",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Mapping",
        "func": "// Map to batteries array\nmsg.batteries.push({\n    id: `M${msg.battery_index}`,\n    power: parseInt(msg.battery_power,10),\n    charging_max: parseInt(msg.max_charge_power,10),\n    discharging_max: parseInt(msg.max_discharge_power,10),\n    soc: parseInt(msg.battery_state_of_charge,10),\n    soc_max: parseInt(msg.charging_cutoff_capacity,10),\n    soc_min: parseInt(msg.discharging_cutoff_capacity,10),\n    inverter: String(msg.inverter_state),\n    energy: Number(msg.battery_remaining_capacity),\n    energy_max: Number(msg.battery_total_energy),\n    rs485: String(msg.rs485_control_mode)\n    });\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 580,
        "wires": [
            [
                "e0ac64653a0bd464"
            ]
        ]
    },
    {
        "id": "2c5305a0b2b3a76b",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "battery_count",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "adda09ea14b2952e"
            ],
            [
                "a09accf67ca6ddd9"
            ]
        ]
    },
    {
        "id": "eeeba772da490941",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Loop result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "9349e7f7ae6dca61",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "8e43afe0206fdd4b"
            ]
        ]
    },
    {
        "id": "adda09ea14b2952e",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Control mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "select.marstek_m{{battery_index}}_rs485_control_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "rs485_control_mode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "f04bc904e921c375"
            ]
        ]
    },
    {
        "id": "34d1a06be2d403ff",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "SoC",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_state_of_charge",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_state_of_charge",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "70221fcda8a269a2"
            ]
        ]
    },
    {
        "id": "f47be9050fc9f4c2",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Inverter state",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_inverter_state",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "inverter_state",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1290,
        "y": 500,
        "wires": [
            [
                "9a4abe0176c2affa"
            ]
        ]
    },
    {
        "id": "1a6e51ae22cfe831",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Max discharge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_discharge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_discharge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "34d1a06be2d403ff"
            ]
        ]
    },
    {
        "id": "9a4abe0176c2affa",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Energy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_remaining_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_remaining_capacity",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1440,
        "y": 500,
        "wires": [
            [
                "15731d4e8d22c8cf"
            ]
        ]
    },
    {
        "id": "a4d9dddb0d18ca53",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Max charge power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "number.marstek_m{{battery_index}}_max_charge_power",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "max_charge_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "1a6e51ae22cfe831"
            ]
        ]
    },
    {
        "id": "f04bc904e921c375",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Power",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_power",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "battery_power",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "a4d9dddb0d18ca53"
            ]
        ]
    },
    {
        "id": "1cca99bbd08c0b9e",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "d550daeddc6bd3af",
        "name": "Node-RED status: OK",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_has_node_red"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_boolean",
        "service": "turn_on",
        "x": 1760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e1beed9bbf904c5c",
        "type": "inject",
        "z": "50a4e17a9f336335",
        "g": "d550daeddc6bd3af",
        "name": "On deploy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1410,
        "y": 60,
        "wires": [
            [
                "069e80ec5980efc9",
                "8236d40be5a10e29"
            ]
        ]
    },
    {
        "id": "feb3e51ca565f84f",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "Set mode (charge/discharge/stop)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 660,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "35e13f154e0dfbe3",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "Set Batteries",
        "func": "// Logger\nconst log = global.get(\"logger\");\n\n// enums\nconst CMODE = {\n    STOP: \"stop\", // Marstek batteries disconnect a relay when this is set or Power is 0W\n    CHARGE: \"charge\",\n    DISCHARGE: \"discharge\"\n}\n\n// Output format and target\nlet outputArray = [];\nlet solution = msg.solutions[msg.battery_index-1]; // Base-0, thus -1\nif (solution === undefined) {\n    log(this,`Can't find solution for index ${msg.battery_index - 1} in ${msg.solutions}, aborting...`,\"error\");\n    return null;\n}\nlet target = `marstek_${solution.id.toLowerCase()}`;\n\n// Safety | Id exists\nlet battery = msg.batteries.find(battery => battery.id === solution.id);\nif (battery === undefined) {\n    log(`Can't set battery ${solution.id}, aborting...`,\"error\");\n    return null;\n}\n// Safety | Power limit\nsolution.power = Math.min(solution.power, solution.mode == CMODE.CHARGE ? battery.charging_max: battery.discharging_max);\n\n// Set | Mode\nconst serviceCallMode = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_forcible_charge_discharge`]\n    },\n    \"data\": {\n         \"option\": String(solution.mode) // forced charge mode (stop, charge, discharge)\n    }\n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallMode, topic:solution.id});\n\n// Set | Power\nconst serviceCallPower = {\n    \"action\": \"number.set_value\",\n    \"target\": {\n        \"entity_id\": [\n            `number.${target}_forcible_charge_power`,\n            `number.${target}_forcible_discharge_power`\n            ]\n    },\n    \"data\": {\n        \"value\": Number(solution.power)\n    } \n};\n// Add topic to allow correct 'on change' filtering\noutputArray.push({payload: serviceCallPower, topic:solution.id});\n\n// Store service calls in msg to allow checking of loop results\nmsg.loop_result = { target, serviceCallMode, serviceCallPower };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Explain\nlog(this,`${target} ${String(solution.mode)} @ ${Number(solution.power)} Watt`);\n\n// Output\nreturn outputArray;",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1240,
        "wires": [
            [
                "feb3e51ca565f84f"
            ],
            [
                "9baec44d7594b5ff"
            ],
            [
                "067e7ece0de071a3"
            ]
        ],
        "inputLabels": [
            "Msg with a battery_index"
        ],
        "outputLabels": [
            "Select MODE",
            "Set POWER",
            "Msg"
        ]
    },
    {
        "id": "2826afb51b17017f",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "Loop start",
        "func": "// loop through the number of batteries set by the user\nmsg.battery_index = msg.battery_count;\n\n// Debug\nRED.util.setMessageProperty(msg, \"debug\", `## Cohort ${Date.now()} ##`);\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 1240,
        "wires": [
            [
                "35e13f154e0dfbe3"
            ]
        ]
    },
    {
        "id": "2d5258801858339b",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "Loop until",
        "property": "battery_index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1300,
        "wires": [
            [
                "35e13f154e0dfbe3"
            ],
            [
                "1bade2bb34434503"
            ]
        ]
    },
    {
        "id": "067e7ece0de071a3",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index -= 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1300,
        "wires": [
            [
                "2d5258801858339b",
                "5c3e1128129c6c14"
            ]
        ]
    },
    {
        "id": "c289ff01d4bd08ca",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "Set power (W)",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 760,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "c8029e3eeafd8f23",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "Timing start",
        "func": "RED.util.setMessageProperty(msg,\"setbatteries.execution_start\",Date.now());\nRED.util.setMessageProperty(msg,\"setbatteries.marker\", `M1_${Date.now()}`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1200,
        "wires": [
            [
                "2826afb51b17017f"
            ]
        ]
    },
    {
        "id": "b93af161d1d1e2f1",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "solutions present",
        "property": "solutions",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "undefined",
                "vt": "jsonata"
            },
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "01c76e560a0a50f6"
            ],
            [
                "c8029e3eeafd8f23"
            ]
        ]
    },
    {
        "id": "1bade2bb34434503",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "Timing end",
        "func": "let start = RED.util.getMessageProperty(msg,\"setbatteries.execution_start\");\nlet end = Date.now();\nlet delta = end - start;\nlet timingString = `${delta/1000} sec`;\n\nnode.status({fill:\"green\",shape:\"dot\",text: timingString});\nmsg.delta = delta;\nmsg.timing = timingString;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "eebdfa5b298cfe74",
                "8766e262944d6c2c"
            ]
        ]
    },
    {
        "id": "5c3e1128129c6c14",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "Step result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "loop_result",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9baec44d7594b5ff",
        "type": "rbe",
        "z": "50a4e17a9f336335",
        "g": "8bbc13c26b567c65",
        "name": "on change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 590,
        "y": 1240,
        "wires": [
            [
                "c289ff01d4bd08ca"
            ]
        ]
    },
    {
        "id": "eebdfa5b298cfe74",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "Done",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "debug",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 1420,
        "wires": []
    },
    {
        "id": "e0ac64653a0bd464",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Loop step",
        "func": "// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 580,
        "wires": [
            [
                "2c5305a0b2b3a76b"
            ]
        ]
    },
    {
        "id": "ec4dc29afec0c515",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Update battery order",
        "func": "// Cycles battery priority as follows\n// M=1 [1,2,3,4] | M=2 [2,3,4,1] | M=3 [3,4,1,2] | etc.\n// With M the battery to prioritize\n\n// msg.batteries (original order)\nlet currentArray = msg.batteries;\n\n// Prioritize the Mth battery\nconst M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// 1st battery has prio? Skip and continue without change\nif (M==1) return msg;\n\n// N equals the number of items to take from the front to the back of the array, effectivly rotating battery priority\nconst N = M - 1; // base-0 version of M\nnode.status({fill:\"blue\",shape:\"ring\",text:`N = ${N}`});\n\n// 1. Check if the array is valid and long enough\nif (!Array.isArray(currentArray) || currentArray.length < N) {\n    // Send an error or the original array back if the array is invalid/too short\n    node.error(`Array is not valid or shorter than ${N} items.`, msg);\n    return null;\n}\n\n// 2. Get the first N items (these will go to the back)\n// slice(0, N) retrieves elements from the start (index 0) up to index N (exclusive).\nlet firstN = currentArray.slice(0, N);\n\n// 3. Get the remaining items (these will stay at the front)\n// slice(N) retrieves elements from index N to the end of the array.\nlet remaining = currentArray.slice(N);\n\n// 4. Concatenate them: remaining items (front) + first N items (back)\nlet newArray = remaining.concat(firstN);\n\n// 5. Place the new array back into msg.batteries\nmsg.batteries = newArray;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 780,
        "wires": [
            [
                "e74aa9d4d9cde6ca"
            ]
        ]
    },
    {
        "id": "72b7e5167d8e725c",
        "type": "inject",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Every day 02:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 02 * * *",
        "once": false,
        "onceDelay": "5",
        "topic": "cycle_battery_priority",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "d2f976b0a92cebe0"
            ]
        ]
    },
    {
        "id": "04a4a5d2f18ff6e1",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Change priority",
        "func": "// Current prioritized battery is the Mth battery\nlet M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Prioritize the next battery\nM += 1;\n\n// If the next battery does not exist, prioritize the first again\nif(M > msg.battery_count) M = 1;\n\n// Pass along as payload\nmsg.payload = M;\n\n// Show which battery has priority\nnode.status({fill:\"green\",shape:\"dot\",text:`Prioritize battery #${M}`});\n\n// Done\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1540,
        "y": 780,
        "wires": [
            [
                "ee8fbe938dfd5b0f"
            ]
        ]
    },
    {
        "id": "30465ea2551f171e",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Your battery count",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_count",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_count",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1350,
        "y": 780,
        "wires": [
            [
                "04a4a5d2f18ff6e1"
            ]
        ]
    },
    {
        "id": "9ecdd324aabba371",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Prioritize battery M",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "ec4dc29afec0c515"
            ]
        ]
    },
    {
        "id": "ee8fbe938dfd5b0f",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Update prioritized battery",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_control_prioritize_battery"
        ],
        "labelId": [],
        "data": "{\"value\": \"{{payload}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1750,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "d2f976b0a92cebe0",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Desired interval",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_control_priority_change_interval",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 780,
        "wires": [
            [
                "3883f43dc1ff61d5"
            ]
        ]
    },
    {
        "id": "3883f43dc1ff61d5",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Check interval ",
        "func": "// Manual priority, never pass\nif(msg.payload == \"Never\") {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Auto cycle disabled\"});\n    return null;\n}\n\n// Daily interval, always pass\nif(msg.payload == \"Daily\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Pass` });\n    return msg;\n}\n\n// Weekly interval\nconst today = new Date();\n// Get the day of the week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)\nconst dayOfWeek = today.getDay();\n\n// Check if the day is Sunday (which is represented by the number 0)\nif (dayOfWeek === 0) {\n    // If it is Sunday, pass\n    node.status({ fill: \"green\", shape: \"dot\", text: `Passed on Sunday` });\n    return msg;\n} else {\n    // If it is not Sunday, stop\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not Sunday` });\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 780,
        "wires": [
            [
                "a49f69320a2014ec"
            ]
        ]
    },
    {
        "id": "a49f69320a2014ec",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "1432f3d36d6227f3",
        "name": "Current priority",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_prioritize_battery",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "prioritize_battery",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1160,
        "y": 780,
        "wires": [
            [
                "30465ea2551f171e"
            ]
        ]
    },
    {
        "id": "937489266b802f6f",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "4fc0bfbe8a8126d4",
        "name": "Batteries (totals)",
        "func": "// batteries | calculate total and max. power delivered by batteries\nlet batteries = msg.batteries;\nlet batteries_total_power = 0;\nlet batteries_max_charging_power = 0;\nlet batteries_max_discharging_power = 0;\nlet batteries_available_energy = 0;\nlet batteries_max_energy = 0;\n\nbatteries.forEach(battery => {\n    batteries_total_power += Number(battery.power);\n    batteries_max_charging_power += Number(battery.charging_max);\n    batteries_max_discharging_power += Number(battery.discharging_max);\n    batteries_available_energy += Number(battery.energy - battery.energy_max*battery.soc_min/100);\n    batteries_max_energy += (Number(battery.energy_max*battery.soc_max) - Number(battery.energy_max*battery.soc_min))/100; // kWh\n});\n\n// OUTPUT\nRED.util.setMessageProperty(msg, \"batteries_total_power\", batteries_total_power, true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_charge_power\", batteries_max_charging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_discharge_power\", batteries_max_discharging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_available_energy\",batteries_available_energy,true); // kWh usable\nRED.util.setMessageProperty(msg, \"batteries_max_energy\", batteries_max_energy, true); // kWh usable\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 680,
        "wires": [
            [
                "9ecdd324aabba371",
                "f0fc7a81a2a5173c"
            ]
        ],
        "inputLabels": [
            "Mapping (from Home Battery IO)"
        ]
    },
    {
        "id": "15731d4e8d22c8cf",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "Energy max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.marstek_m{{battery_index}}_battery_total_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "battery_total_energy",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1590,
        "y": 500,
        "wires": [
            [
                "a922881ae08fe9ea"
            ]
        ]
    },
    {
        "id": "a09accf67ca6ddd9",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "9f1b7e0ead0331df",
        "name": "Loop end",
        "func": "// cleanup \ndelete msg.battery_index;\n\ndelete msg.battery_power;\ndelete msg.max_charge_power;\ndelete msg.max_discharge_power;\ndelete msg.battery_state_of_charge;\ndelete msg.charging_cutoff_capacity;\ndelete msg.discharging_cutoff_capacity;\ndelete msg.inverter_state;\ndelete msg.battery_remaining_capacity;\ndelete msg.battery_total_energy;\ndelete msg.rs485_control_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "eeeba772da490941",
                "937489266b802f6f"
            ]
        ]
    },
    {
        "id": "b7ad03520da20ba8",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "c6d3ba1fdf73770a",
        "name": "Set total usable energy",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_total_available_energy"
        ],
        "labelId": [],
        "data": "{\"value\":$$.batteries_available_energy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 1760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "f0fc7a81a2a5173c",
        "type": "rbe",
        "z": "50a4e17a9f336335",
        "g": "c6d3ba1fdf73770a",
        "name": "On change",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "batteries_available_energy",
        "topi": "topic",
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "b7ad03520da20ba8"
            ]
        ]
    },
    {
        "id": "683e500f48b2728b",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "Select rate limit",
        "property": "p1_rate_limit.save_power",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "5e04455bc42d39c6"
            ],
            [
                "149d3d350de92e5c"
            ]
        ]
    },
    {
        "id": "c78cbf3e23248dd8",
        "type": "delay",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "Rate limit",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": true,
        "outputs": 2,
        "x": 980,
        "y": 280,
        "wires": [
            [
                "faa61154730d7905"
            ],
            [
                "616289c13ee6716d"
            ]
        ],
        "outputLabels": [
            "Pass",
            ""
        ]
    },
    {
        "id": "149d3d350de92e5c",
        "type": "change",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "1 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "1000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 300,
        "wires": [
            [
                "c78cbf3e23248dd8"
            ]
        ]
    },
    {
        "id": "5e04455bc42d39c6",
        "type": "change",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "0.333 msg/s",
        "rules": [
            {
                "t": "set",
                "p": "rate",
                "pt": "msg",
                "to": "3000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "c78cbf3e23248dd8"
            ]
        ]
    },
    {
        "id": "133fb56760e7ee7b",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "P1 change (20W or 2%)",
        "func": "// Switch between low and high rate limiting to decrease load and power consumption\n// --\n// The flow should always be rate limited by atleast the total execution time of strategies\n// The flow should not lock up indefinitly when grid_power is constant.\n// In the latter case, a more relaxed rate limit can help reduce system load.\n// Devs: don't set msg.rate directly. Use nodes, so novice users can easily read the flow.\n\n// Thresholds for change in power, before switching to high rate limit\nconst THRESHOLD_POWER = 20; // Watt change\nconst THRESHOLD_PERCENT = 2; // Percentage\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_power\", THRESHOLD_POWER,true);\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_percent\", THRESHOLD_PERCENT, true);\n\n// Get the previous value from this node's context\n// If it doesn't exist yet, initialize it as null\nlet previousValue = context.get('previousValue') || null;\nlet currentValue = Number(msg.grid_power);\n\n// Save the current value for the next time the node is triggered\ncontext.set('previousValue', currentValue);\n\n// Default rate limiting\nRED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",true);\n\n// Check if we have a valid history to compare with\nif (previousValue !== null) {\n    let powerChange = Math.abs(currentValue - previousValue);\n    let percentageChange = previousValue !== 0 ? Math.abs((powerChange / previousValue) * 100):0;\n\n    // Condition: Absolute difference > N Watt AND percentage change > M %\n    if (powerChange > THRESHOLD_POWER && percentageChange > THRESHOLD_PERCENT) {\n        // Enable faster refresh rate\n        RED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",false);\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 280,
        "wires": [
            [
                "683e500f48b2728b"
            ]
        ]
    },
    {
        "id": "a519cb7f9e078e1e",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "CPU power saved",
        "func": "// Logger\nconst logger = global.get(\"logger\");\n\n// Passed or blocked\nconst hasPassed = msg.payload; // 0 = blocked, 1 = passed\n\n// 1. Get evaluations (Total attempts)\nlet evaluations = (context.get(\"p1_rate_limit_evaluations\") || 0) + 1;\ncontext.set(\"p1_rate_limit_evaluations\", evaluations);\n\n// 2. Increment and get passes (Filtered/successful events)\nlet passes = (context.get(\"p1_rate_limit_passes\") || 0) + hasPassed;\ncontext.set(\"p1_rate_limit_passes\", passes);\n\n// 3a. Calculate percentage (Rate of passing vs total evaluations)\nlet percentage = evaluations > 0 ? (passes / evaluations) * 100 : 0;\n// 3b. Display the percentage rate of not-passing as a measure of efficiency gained\npercentage = 100 - percentage;\n\n// 4. Update Node Status\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Saved: ${percentage.toFixed(2)}% (${evaluations-passes}/${evaluations})`\n});\n\n// 5. Explain\n// On block\nif(hasPassed === 0) {\n    if(msg.p1_rate_limit.save_power === true) {\n        // This is good\n        logger(this, `<font color=\"#009ac7\">Power saved</font> by P1 Rate Limiter, execution stopped.`); \n    } else {\n        // This is not so good. P1 updates are coming in fast.\n        logger(this, `<font color=\"orange\">Blocked</font> by P1 Rate Limiter. ${Number(1000/msg.rate).toFixed(2)} messages per second exceeded.`); \n    }\n    \n    // Send message onward to debug dashboard\n    return msg;\n}\n// No output on pass\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "50f6f937e098e7a3"
            ]
        ]
    },
    {
        "id": "be7ae9cdbb7d2ac3",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Strategy evaluation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "strategy",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2447661efe785f69",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "3f024f2536a19b9f",
        "name": "Show on dashboard",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_battery_strategy_active_sub_strategy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.ui_value_new}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_text",
        "service": "set_value",
        "x": 1760,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "84fda5edca5ec9a9",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "3f024f2536a19b9f",
        "name": "current UI value",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.house_battery_strategy_active_sub_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "ui_value_current",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1360,
        "y": 1060,
        "wires": [
            [
                "5a8e58b665f9e650"
            ]
        ]
    },
    {
        "id": "5a8e58b665f9e650",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "3f024f2536a19b9f",
        "name": "on new UI value",
        "func": "// Block when undefined (don't update UI)\nif(msg.ui_value_current === undefined) return null;\n\n// We show the 2nd strategy in the trace (if available) on the dashboard as the 'active sub-strategy'\nconst secondTraceEntry = msg.strategy?.trace?.[1];\nif (secondTraceEntry) {\n    // Handle case where 2nd flow is present\n    msg.ui_value_new =  secondTraceEntry.flow;\n} else {\n    // Handle case where the 2nd flow is missing\n    // Get a sensible alternative\n    msg.ui_value_new = msg.strategy?.selected || \"\"; // don't use unknown or unavailable as these are reserved HA keywords\n}\n\n// Improve human readability\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.discharge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (charge only)\";\n}\nif(msg.ui_value_new == \"Self-consumption\" && secondTraceEntry?.flow_settings?.charge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (no charging)\";\n}\nif(msg.strategy?.is_peak_shaving === true){\n    msg.ui_value_new = \"Peak shaving\";\n}\n\n// Node status for devs\nnode.status({fill:\"grey\",shape:\"dot\",text:`new: ${msg.ui_value_new}`});\n\n// Block when equal (don't update UI)\nif(msg.ui_value_current === msg.ui_value_new) return null;\n\n// Pass otherwise\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1060,
        "wires": [
            [
                "2447661efe785f69"
            ]
        ]
    },
    {
        "id": "8b07ab8f26447a77",
        "type": "ha-fire-event",
        "z": "50a4e17a9f336335",
        "g": "73a67d7cd6637cb2",
        "name": "Show on debug board",
        "server": "176d29a.6f648d6",
        "version": 0,
        "event": "update_trace_sensor",
        "data": "{\t   \"trace\": $$.strategy.trace ? $$.strategy.trace : [],\t   \"start\": $$.strategy.execution_start ? $$.strategy.execution_start : 0,\t   \"end\": $$.strategy.execution_end ? $$.strategy.execution_end : 0,\t   \"log\": $$.log ? $$.log : []\t}",
        "dataType": "jsonata",
        "x": 1740,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "e465e35f5875d707",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "f855fb6228986402",
        "name": "Insight mode",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_is_debug_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "debug_mode",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "f58350f3ae00c778"
            ]
        ]
    },
    {
        "id": "8766e262944d6c2c",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "73a67d7cd6637cb2",
        "name": "Debug mode?",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1540,
        "y": 1420,
        "wires": [
            [
                "8b07ab8f26447a77"
            ]
        ]
    },
    {
        "id": "e4d36d900e9e8c1b",
        "type": "server-state-changed",
        "z": "50a4e17a9f336335",
        "g": "f855fb6228986402",
        "name": "Turned ON",
        "server": "176d29a.6f648d6",
        "version": 6,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.house_battery_control_is_debug_mode"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "1e910df6700a3d03"
            ],
            []
        ]
    },
    {
        "id": "1e910df6700a3d03",
        "type": "trigger",
        "z": "50a4e17a9f336335",
        "g": "f855fb6228986402",
        "name": "disable after 5 minutes",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "96b7b5ce54ab390a"
            ]
        ]
    },
    {
        "id": "96b7b5ce54ab390a",
        "type": "api-call-service",
        "z": "50a4e17a9f336335",
        "g": "f855fb6228986402",
        "name": "Turn insight OFF",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.house_battery_control_is_debug_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "turn_off",
        "x": 810,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "069e80ec5980efc9",
        "type": "delay",
        "z": "50a4e17a9f336335",
        "g": "d550daeddc6bd3af",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 60,
        "wires": [
            [
                "1cca99bbd08c0b9e"
            ]
        ]
    },
    {
        "id": "8236d40be5a10e29",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "87f92832d04bbd3b",
        "name": "Custom logger",
        "func": "/**\n * Custom Logger Function\n * * Provides centralized logging, node-status updates, and message tracing.\n * Specifically designed for Home Battery Control logic within Node-RED.\n * \n * Debug dashboard updating:\n * A msg needs to reach 'Strategy Evaluation' or be passed to the \"Show on debug board\" trigger node.\n * Errors are automatically passed to the \"Show on debug board\" trigger node.\n * \n * * @param {object} callingNode - The context of the calling node (pass 'this').\n * @param {string} text - The log message/explanation.\n * @param {string} level - Log level: 'log', 'warn', 'error', or 'info' (default: 'info').\n * \n * Note: anything above 'info' will also write to the Node-RED log files \n * \n * * @usage: \n * const log = global.get(\"logger\");\n * log(this, \"Charging cycle started\");\n */\nconst customLogger = (callingNode, text, level = 'info') => {\n    \n    // Log only when debug_mode is ON\n    const debug_mode = global.get(\"debug_mode\") || false;\n    if(debug_mode == false) return null;\n\n    // Max log elements to keep\n    const MAX_ELEMENTS = 100;\n\n    // Create the YYYY-MM-DD HH:MM:SS.mmm format\n    const now = new Date();\n    const timestamp = now.getHours().toString().padStart(2, '0') + \":\" +\n                now.getMinutes().toString().padStart(2, '0') + \":\" +\n                now.getSeconds().toString().padStart(2, '0') + \".\" +\n                now.getMilliseconds().toString().padStart(3, '0');\n\n    const formattedTimeLevel = `${timestamp} [${level.toLowerCase()}]`;\n    \n    // Get the name of the node or fallback to the ID\n    const nodeName = callingNode.__node__ ? callingNode.__node__.name || callingNode.__node__.id : undefined;\n    // Get the name of the Flow/Tab\n    const flowName = callingNode.env.get(\"NR_FLOW_NAME\") || \"Unknown flow\";\n    // Explain to the Home Battery Control user what is going on\n    const formattedExplenation = `[${flowName} >> ${nodeName}]: ${text}`;\n\n    // Level icons\n    let icon = \"\";\n    switch (level) {\n        case \"info\":\n            icon = \"\";\n            break;\n        case \"log\":\n            icon = \"\";\n            break;\n        case \"warn\":\n            icon = \"\";      \n            break;\n        case \"error\":\n            icon = \"\";\n            break;\n    }\n\n    // Enrich msg with log info\n    const msg = callingNode.msg;\n    (msg.log = msg.log || []).push({ timestamp: timestamp, level:level, flow:flowName, node:nodeName, payload: text, icon: icon});\n\n    if (msg.log.length > MAX_ELEMENTS) {\n        // Slice keeps the last X elements\n        msg.log = msg.log.slice(-MAX_ELEMENTS);\n    }\n\n    // Log to the Node-RED system log\n    switch (level) {\n        case \"log\":\n            node.log(`${formattedExplenation}`);\n            break;\n        case \"warn\":\n            node.warn(`${formattedExplenation}`);       \n            break;\n        case \"error\":\n            node.error(`${formattedExplenation}`, callingNode.msg);\n            break;\n        default:\n            // don't log to logfiles by default\n    }\n\n};\n\nglobal.set('logger', customLogger);\nglobal.set('unhandledException', \"\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 160,
        "wires": [
            [
                "1e89b13f44bc3598"
            ]
        ]
    },
    {
        "id": "faa61154730d7905",
        "type": "change",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "Pass",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 300,
        "wires": [
            [
                "a519cb7f9e078e1e",
                "9453db3462c3ec82"
            ]
        ]
    },
    {
        "id": "616289c13ee6716d",
        "type": "change",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "Block",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1110,
        "y": 260,
        "wires": [
            [
                "a519cb7f9e078e1e"
            ]
        ]
    },
    {
        "id": "d4bc7cbe97063b07",
        "type": "link in",
        "z": "50a4e17a9f336335",
        "g": "73a67d7cd6637cb2",
        "name": "Update debug dashboard",
        "links": [
            "50f6f937e098e7a3",
            "01c76e560a0a50f6",
            "03b477732f3bb88e"
        ],
        "x": 1395,
        "y": 1360,
        "wires": [
            [
                "8766e262944d6c2c",
                "4a602d8229b9900b"
            ]
        ]
    },
    {
        "id": "50f6f937e098e7a3",
        "type": "link out",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "goto Debug Dashboard update",
        "mode": "link",
        "links": [
            "d4bc7cbe97063b07"
        ],
        "x": 1395,
        "y": 280,
        "wires": []
    },
    {
        "id": "c393dab7fce22497",
        "type": "catch",
        "z": "50a4e17a9f336335",
        "g": "73a67d7cd6637cb2",
        "name": "Custom logger",
        "scope": [
            "8236d40be5a10e29"
        ],
        "uncaught": false,
        "x": 1340,
        "y": 1480,
        "wires": [
            [
                "8766e262944d6c2c",
                "9a17fa0e52c23f41"
            ]
        ]
    },
    {
        "id": "9a17fa0e52c23f41",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "73a67d7cd6637cb2",
        "name": "Via Catch",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4a602d8229b9900b",
        "type": "debug",
        "z": "50a4e17a9f336335",
        "g": "73a67d7cd6637cb2",
        "name": "Via link",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "counter",
        "x": 1520,
        "y": 1360,
        "wires": []
    },
    {
        "id": "01c76e560a0a50f6",
        "type": "link out",
        "z": "50a4e17a9f336335",
        "g": "e578bc1366a974d4",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d4bc7cbe97063b07"
        ],
        "x": 285,
        "y": 1160,
        "wires": []
    },
    {
        "id": "80e5462c6bfc306b",
        "type": "switch",
        "z": "50a4e17a9f336335",
        "g": "819387ee9aced7d9",
        "name": "Skip rate limiter during debug",
        "property": "debug_mode",
        "propertyType": "global",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "133fb56760e7ee7b"
            ],
            [
                "9453db3462c3ec82"
            ]
        ]
    },
    {
        "id": "f58350f3ae00c778",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "f855fb6228986402",
        "name": "Notice",
        "func": "// enable or disable Insights Mode\nif(msg.debug_mode == \"on\"){\n    // ENABLED - explain to user\n    const log = global.get(\"logger\");\n    log(this, \"P1 Rate limiter is *disabled* during *debug mode*\");\n\n    // Set global (setting this via current state node has proven irriliable)\n    global.set(\"debug_mode\", true);\n} else {\n    // DISABLED - set global\n    global.set(\"debug_mode\", false);\n}\n\n// Clean up - only use the global\ndelete msg.debug_mode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 235,
        "y": 160,
        "wires": [
            [
                "4ced9cd49af7d1af"
            ]
        ],
        "l": false
    },
    {
        "id": "70221fcda8a269a2",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "SoC min",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_discharging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "discharging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "10e2bdc21cd7559e"
            ]
        ]
    },
    {
        "id": "10e2bdc21cd7559e",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "7022c7cffd979729",
        "name": "SoC max",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.marstek_m{{battery_index}}_charging_cutoff_capacity",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charging_cutoff_capacity",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1140,
        "y": 500,
        "wires": [
            [
                "f47be9050fc9f4c2"
            ]
        ]
    },
    {
        "id": "1e89b13f44bc3598",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "87f92832d04bbd3b",
        "name": "Unhandled Exception",
        "func": "/**\n * Handles exceptions by extracting node details and routing them to a global logger.\n * This is designed to be called from within a Node-RED Function node or sub-flow.\n *\n * @param {Object} callingNode - The Node-RED 'this' context or msg object containing node metadata.\n * @param {Object} [callingNode.msg] - The message object associated with the error.\n * @param {Object} [callingNode.msg.error] - Error details provided by a Node-RED error catch.\n * @param {string} [callingNode.msg.error.message] - The specific error message.\n * @param {Object} [callingNode.msg.error.source] - The node that triggered the error.\n * * @example\n * // Usage in a Function Node:\n * const unhandledException = global.get('unhandledException');\n * unhandledException(this);\n */\nconst unhandledException = (callingNode) => {\n    // 1. Get the custom logger from global context\n    const log = global.get(\"logger\");\n\n    // 2. Extract error details from the msg object\n    const errorData = callingNode.msg?.error || {};\n    const errorMessage = errorData.message || \"Unknown error occurred\";\n    const sourceName = errorData.source ? (errorData.source.name || errorData.source.id) : \"Unknown Node\";\n    const sourceType = errorData.source ? errorData.source.type : \"unknown-type\";\n\n    // 3. Construct a user-friendly message for the logger\n    const friendlyMessage = `**Unhandled exception** (${sourceType} node) ${errorMessage}`;\n    callingNode.__node__ ??= {};\n    callingNode.__node__.name = sourceName;\n\n    // 4. Call the logger with level 'error'\n    // Note: the logger uses 'callingNode', we pass on whatever we have.\n    log(callingNode, friendlyMessage, 'error');\n\n};\n\nglobal.set('unhandledException', unhandledException);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b6a77099141516d9",
        "type": "catch",
        "z": "50a4e17a9f336335",
        "g": "6509013f878e097f",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 1745,
        "y": 320,
        "wires": [
            [
                "8708c74ca72c9a4b"
            ]
        ],
        "l": false
    },
    {
        "id": "8708c74ca72c9a4b",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "6509013f878e097f",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1795,
        "y": 320,
        "wires": [
            [
                "03b477732f3bb88e"
            ]
        ],
        "l": false
    },
    {
        "id": "03b477732f3bb88e",
        "type": "link out",
        "z": "50a4e17a9f336335",
        "g": "6509013f878e097f",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "d4bc7cbe97063b07"
        ],
        "x": 1845,
        "y": 320,
        "wires": []
    },
    {
        "id": "4441773c20495756",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Battery Strategy",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "house_battery_strategy",
                "propertyType": "flow",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "8a5312bc5cf85003"
            ]
        ]
    },
    {
        "id": "8a5312bc5cf85003",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "26895d85c82dde91",
        "name": "Full Stop Trigger",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.ev_is_charging",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "full_stop_trigger",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "f06446ad0b0a622d"
            ]
        ]
    },
    {
        "id": "e74aa9d4d9cde6ca",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "dc159e4c83f8b9a5",
        "name": "Has import limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_import",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "1ba4db3c4ca346d2"
            ]
        ]
    },
    {
        "id": "1ba4db3c4ca346d2",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "dc159e4c83f8b9a5",
        "name": "Has export limit?",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.house_battery_control_has_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_has_limit_export",
                "propertyType": "msg",
                "value": "$entity().state = \"on\"",
                "valueType": "jsonata"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 350,
        "y": 880,
        "wires": [
            [
                "afe3e8d997dcacdf"
            ]
        ]
    },
    {
        "id": "4ced9cd49af7d1af",
        "type": "function",
        "z": "50a4e17a9f336335",
        "g": "f855fb6228986402",
        "name": "Grid power",
        "func": "const log = global.get(\"logger\");\n\n// prepare grid power message\nlet state = \"measure\";\nlet ending = \"\";\nif(msg.grid_power>0) {state = \"import\"; ending = \"from grid\";}\nif(msg.grid_power<0) {state = \"export\"; ending = \"to grid\";}\nconst displayPower = Math.abs(Math.round(msg.grid_power));\n\n// explain\nlog(this, `You currently ${state} ${displayPower} W ${ending}`);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 285,
        "y": 160,
        "wires": [
            [
                "80e5462c6bfc306b"
            ]
        ],
        "l": false
    },
    {
        "id": "afe3e8d997dcacdf",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "dc159e4c83f8b9a5",
        "name": "Import limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_import",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_import",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 530,
        "y": 880,
        "wires": [
            [
                "ad52d85f8c74b184"
            ]
        ]
    },
    {
        "id": "ad52d85f8c74b184",
        "type": "api-current-state",
        "z": "50a4e17a9f336335",
        "g": "dc159e4c83f8b9a5",
        "name": "Export limit",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_control_power_limit_export",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "grid_power_limit_export",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 690,
        "y": 880,
        "wires": [
            [
                "4441773c20495756"
            ]
        ]
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "2889a109bc61e998",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]