node-red/02 strategy-charge.json
[
    {
        "id": "aa651c7a4ecb8040",
        "type": "tab",
        "label": "Strategy Charge v4.5.0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cd269255f9ee404",
        "type": "group",
        "z": "aa651c7a4ecb8040",
        "name": "Configuration",
        "style": {
            "label": true
        },
        "nodes": [
            "7145fa2c678acdac",
            "fb87653160e6920a",
            "4328a963a25668f1"
        ],
        "x": 34,
        "y": 99,
        "w": 192,
        "h": 162
    },
    {
        "id": "aaa9dbe16a90cd37",
        "type": "group",
        "z": "aa651c7a4ecb8040",
        "name": "Battery solutions",
        "style": {
            "label": true
        },
        "nodes": [
            "514a12a574ddcee9",
            "13be79a0d93e828d",
            "a224e55babf5d0df"
        ],
        "x": 34,
        "y": 479,
        "w": 192,
        "h": 142
    },
    {
        "id": "2a65f09f7d67643d",
        "type": "group",
        "z": "aa651c7a4ecb8040",
        "name": "Import routine",
        "style": {
            "label": true
        },
        "nodes": [
            "bf3c7968a3ecc999",
            "0b6f02ff3ed08eb3",
            "0191612394b6c6da",
            "15f8c498e047080a",
            "2cfa161c74ed82ea",
            "f5bab13e550fad58",
            "c7c3888699402934",
            "c041094e5677b045"
        ],
        "x": 254,
        "y": 319,
        "w": 832,
        "h": 182
    },
    {
        "id": "7e75648bf0ae9a07",
        "type": "group",
        "z": "aa651c7a4ecb8040",
        "name": "Decide import or stop",
        "style": {
            "label": true
        },
        "nodes": [
            "874588d8560898a0",
            "72a8e9b386f2eb9a",
            "1aace0e66eeccbb7",
            "6160781b8889a821",
            "7f23013a7e001a3e",
            "efc041871107d964",
            "916715f2ef30b08e",
            "3ce7a32b991096eb",
            "503059a0cdb90021",
            "46fbb9db95874ae4",
            "e3b603552e8dea64",
            "47107da964bf21cb",
            "5af00cc81a10577f",
            "0f7c4d95a5db80ec",
            "aa80d2f63b358d7d",
            "616bd822e94a4a8e",
            "1d8613a184bb20b6",
            "9b82173deb660d20",
            "08b5d8212f5810c0",
            "e7df5346b8196e72"
        ],
        "x": 254,
        "y": 79,
        "w": 1928,
        "h": 207
    },
    {
        "id": "9a7d91cbc76dc02f",
        "type": "group",
        "z": "aa651c7a4ecb8040",
        "name": "Unhandled exceptions",
        "style": {
            "label": true,
            "stroke": "#d88a8a",
            "color": "#d88a8a"
        },
        "nodes": [
            "fa130988afa61e91",
            "b5e69cdef04d2827",
            "34ad9ae14025f2e6"
        ],
        "x": 34,
        "y": 379,
        "w": 182,
        "h": 82
    },
    {
        "id": "08b5d8212f5810c0",
        "type": "group",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "UI helper | set bounds for charge levels",
        "style": {
            "label": true,
            "stroke": "#3f93cf"
        },
        "nodes": [
            "dfc5ddbc59369cc3",
            "704963272443bd5a",
            "84438b73c522732e"
        ],
        "x": 1464,
        "y": 159,
        "w": 692,
        "h": 82
    },
    {
        "id": "9b82173deb660d20",
        "type": "junction",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "x": 1490,
        "y": 260,
        "wires": [
            [
                "0191612394b6c6da"
            ]
        ]
    },
    {
        "id": "12c4beb20f58f55b",
        "type": "comment",
        "z": "aa651c7a4ecb8040",
        "name": "Home Battery Strategy",
        "info": "The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon't modify other parts of the Start and End groups.\nThey handle the calling and returning for you.",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "7145fa2c678acdac",
        "type": "link in",
        "z": "aa651c7a4ecb8040",
        "g": "8cd269255f9ee404",
        "name": "Charge",
        "links": [],
        "x": 110,
        "y": 220,
        "wires": [
            [
                "4328a963a25668f1"
            ]
        ],
        "l": true
    },
    {
        "id": "fb87653160e6920a",
        "type": "comment",
        "z": "aa651c7a4ecb8040",
        "g": "8cd269255f9ee404",
        "name": "Start (readme)",
        "info": "# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the <select> option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select 'AcmE example'\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled 'AcmE example' (case sensitive).",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "4328a963a25668f1",
        "type": "change",
        "z": "aa651c7a4ecb8040",
        "g": "8cd269255f9ee404",
        "name": "Trace",
        "rules": [
            {
                "t": "set",
                "p": "strategy.trace",
                "pt": "msg",
                "to": "[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "1d8613a184bb20b6"
            ]
        ],
        "info": "Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"
    },
    {
        "id": "514a12a574ddcee9",
        "type": "link out",
        "z": "aa651c7a4ecb8040",
        "g": "aaa9dbe16a90cd37",
        "name": "Return",
        "mode": "return",
        "links": [],
        "x": 185,
        "y": 580,
        "wires": []
    },
    {
        "id": "13be79a0d93e828d",
        "type": "comment",
        "z": "aa651c7a4ecb8040",
        "g": "aaa9dbe16a90cd37",
        "name": "End (readme)",
        "info": "Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ",
        "x": 130,
        "y": 520,
        "wires": []
    },
    {
        "id": "a224e55babf5d0df",
        "type": "link in",
        "z": "aa651c7a4ecb8040",
        "g": "aaa9dbe16a90cd37",
        "name": "link to End",
        "links": [
            "6160781b8889a821",
            "5af00cc81a10577f",
            "c041094e5677b045"
        ],
        "x": 75,
        "y": 580,
        "wires": [
            [
                "514a12a574ddcee9"
            ]
        ]
    },
    {
        "id": "bf3c7968a3ecc999",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Max power solution",
        "func": "// Logger, usage: log(this, \"\");\nconst log = global.get('logger');\nlog(this, \"Charge at **max. power**\");\n\n// INPUT\nlet batteries = msg.batteries;\nlet solution_array = [];\n\n// build solution\nmsg.batteries.forEach(battery => {\n    const calculatedPower = Number(battery.charging_max);\n\n    solution_array.push({\n        id: battery.id,\n        mode: \"charge\",\n        power: calculatedPower\n    });\n\n});\n\n// return solution\nmsg.solutions = solution_array;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "c7c3888699402934"
            ]
        ]
    },
    {
        "id": "0b6f02ff3ed08eb3",
        "type": "link call",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Call flow",
        "links": [],
        "linkType": "dynamic",
        "timeout": "30",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "15f8c498e047080a",
                "c041094e5677b045"
            ]
        ]
    },
    {
        "id": "0191612394b6c6da",
        "type": "switch",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Import at max power",
        "property": "grid_power_has_limit_import",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "bf3c7968a3ecc999"
            ],
            [
                "f5bab13e550fad58"
            ]
        ]
    },
    {
        "id": "15f8c498e047080a",
        "type": "debug",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Regulated",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 400,
        "wires": []
    },
    {
        "id": "2cfa161c74ed82ea",
        "type": "debug",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Maximum",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "f5bab13e550fad58",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Regulated power",
        "func": "// Logger, usage: log(this, \"\");\nconst log = global.get('logger');\n\n// Which sub-strategy to use\nmsg.target = \"Self-consumption\";\n\n// Grid power limit\nconst targetGridPower = parseInt(msg.grid_power_limit_import);\n\n// Set target grid consumption for the PID controller\nmsg.house_target_grid_consumption_in_w = targetGridPower;\n// tell PID to avoid discharge solutions during charging.\nRED.util.setMessageProperty(msg,\"advanced_settings.discharge_disabled\",true,true);\n\n// Finally\nlog(this, `**Regulated** charging. Target grid power: ${Math.floor(targetGridPower)} W`);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 400,
        "wires": [
            [
                "0b6f02ff3ed08eb3"
            ]
        ]
    },
    {
        "id": "c7c3888699402934",
        "type": "change",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "Continue",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Charge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 360,
        "wires": [
            [
                "2cfa161c74ed82ea",
                "c041094e5677b045"
            ]
        ]
    },
    {
        "id": "c041094e5677b045",
        "type": "link out",
        "z": "aa651c7a4ecb8040",
        "g": "2a65f09f7d67643d",
        "name": "go to End",
        "mode": "link",
        "links": [
            "a224e55babf5d0df"
        ],
        "x": 960,
        "y": 460,
        "wires": [],
        "l": true
    },
    {
        "id": "874588d8560898a0",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Unknown -> Full stop",
        "func": "const log = global.get(\"logger\");\n\n// Unkown export goal\nlog(this, `**${msg.charge.goal}**; Charge goal not recognized. Fallback to **Full Stop**`,\"warn\");\n\n// Full stop\nmsg.target = \"Full stop\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 240,
        "wires": [
            [
                "72a8e9b386f2eb9a"
            ]
        ]
    },
    {
        "id": "72a8e9b386f2eb9a",
        "type": "link call",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Call flow",
        "links": [],
        "linkType": "dynamic",
        "timeout": "5",
        "x": 990,
        "y": 240,
        "wires": [
            [
                "6160781b8889a821"
            ]
        ]
    },
    {
        "id": "1aace0e66eeccbb7",
        "type": "api-current-state",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Energy reserve hi",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_charge_target_energy",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charge.threshold_energy",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 800,
        "y": 200,
        "wires": [
            [
                "efc041871107d964"
            ]
        ]
    },
    {
        "id": "6160781b8889a821",
        "type": "link out",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "go to End",
        "mode": "link",
        "links": [
            "a224e55babf5d0df"
        ],
        "x": 1190,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "7f23013a7e001a3e",
        "type": "api-current-state",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "SoC reached",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.house_battery_strategy_charge_target_soc",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charge.threshold_soc",
                "propertyType": "msg",
                "value": "number",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 780,
        "y": 160,
        "wires": [
            [
                "916715f2ef30b08e"
            ]
        ]
    },
    {
        "id": "efc041871107d964",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Check if hi",
        "func": "// 1. Get the custom logger from global context\nconst log = global.get(\"logger\");\nlog(this,`Charge until: ${msg.charge.goal}`);\n\n// 2. Extract energy level from msg (default to 0 if property is missing)\nconst energy_remaining = Number(RED.util.getMessageProperty(msg, \"batteries_available_energy\")) || 0;\nvar energy_threshold = Number(RED.util.getMessageProperty(msg,\"charge.threshold_energy\"));\nif (energy_threshold === undefined || energy_threshold <= 0){\n    log(this,`Desired energy reserve invalid '${energy_threshold}' kWh. I've set it to ${Number(msg.batteries_max_energy).toFixed(1)} kWh`,\"warn\");\n    energy_threshold = Math.floor(Number(msg.batteries_max_energy)*10)/10;\n}\n\n// 3. Logic: Determine if energy level is at or below zero\nif (energy_remaining >= energy_threshold) {\n    msg.charge.threshold_reached = true;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[STOP] Energy reserve at ${energy_remaining.toFixed(1)} / ${energy_threshold.toFixed(1)} kWh`, 'info');\n} else {\n    msg.charge.threshold_reached = false;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[OK] Energy reserve at ${energy_remaining.toFixed(1)} / ${energy_threshold.toFixed(1)} kWh.`, 'info');\n}\n\n// 4. Update node status for visual feedback in the editor\nnode.status({ \n    fill: msg.charge.threshold_reached ? \"red\" : \"green\", \n    shape: \"dot\", \n    text: `Threshold reached: ${msg.charge.threshold_reached}` \n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 200,
        "wires": [
            [
                "0f7c4d95a5db80ec",
                "84438b73c522732e"
            ]
        ]
    },
    {
        "id": "916715f2ef30b08e",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Check if SoC",
        "func": "// 1. Get the custom logger from global context\nconst log = global.get(\"logger\");\nlog(this, `Charge until: ${msg.charge.goal}`);\n\n// 2. Extract average SoC and desired SoC level\nlet batteries = msg.batteries;\nlet soc_avg = 0;\nlet count = 0; // could use msg.battery_count\nbatteries.forEach(battery => {\n    soc_avg += battery.soc;\n    count++;\n});\n// 2.1 Current avg. SoC\nsoc_avg = Math.round(soc_avg / count * 100) / 100;\n// 2.2 Charge until SoC (100% as fallback)\nvar soc_threshold = Number(RED.util.getMessageProperty(msg,\"charge.threshold_soc\"));\nif (soc_threshold === undefined || soc_threshold < 12){\n    log(this, `Desired SoC not set correctly '${soc_threshold}' %. I've set it to 100%.`,\"warn\");\n    soc_threshold = 100;\n}\n\n// 3. Logic: Determine if SoC level is at or above desired level\nif (soc_avg >= soc_threshold) {\n    msg.charge.threshold_reached = true;\n\n    // User friendly feedback via the custom logger\n    log(this, `[STOP] Average SoC at ${soc_avg.toFixed(1)}/${soc_threshold.toFixed(1)} %.`, 'info');\n} else {\n    msg.charge.threshold_reached = false;\n\n    // User friendly feedback via the custom logger\n    log(this, `[OK] Average SoC at ${soc_avg.toFixed(1)}/${soc_threshold.toFixed(1)} %.`, 'info');\n}\n\n// 4. Update node status for visual feedback in the editor\nnode.status({\n    fill: msg.charge.threshold_reached ? \"red\" : \"green\",\n    shape: \"dot\",\n    text: `Threshold reached: ${msg.charge.threshold_reached}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 160,
        "wires": [
            [
                "0f7c4d95a5db80ec"
            ]
        ]
    },
    {
        "id": "3ce7a32b991096eb",
        "type": "change",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Batteries are full",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 120,
        "wires": [
            [
                "503059a0cdb90021"
            ]
        ]
    },
    {
        "id": "503059a0cdb90021",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Check if full",
        "func": "// 1. Get the custom logger from global context\nconst log = global.get(\"logger\");\nlog(this,`Charge until: ${msg.charge.goal}`);\n\n// 2. Extract energy level from msg (and handle missing properties)\nconst energy_remaining = Number(RED.util.getMessageProperty(msg, \"batteries_available_energy\")) || 0;\nconst energy_max = Number(RED.util.getMessageProperty(msg, \"batteries_max_energy\")) || 0;\nif(energy_max == 0) log(this,`Batteries max energy missing! ${msg.batteries_max_energy}`);\n// 2.1 Check if every battery's SoC is at or over the max\nconst isAtMax = msg.batteries.every(battery => battery.soc >= battery.soc_max);\n\n// 3. Logic: Determine if energy level is over or near 99.9% of max eneregy\nif (isAtMax) {\n    msg.charge.threshold_reached = true;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[STOP] All batteries are full or at SoC_max_ (${energy_remaining} kWh).`, 'info');\n} else {\n    msg.charge.threshold_reached = false;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[OK] Battery level ${energy_remaining.toFixed(2)} kWh below ${energy_max.toFixed(2)} kWh.`, 'info');\n}\n\n// 4. Update node status for visual feedback in the editor\nnode.status({ \n    fill: msg.charge.threshold_reached ? \"red\" : \"green\", \n    shape: \"dot\", \n    text: `Threshold reached: ${msg.charge.threshold_reached}` \n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "0f7c4d95a5db80ec"
            ]
        ]
    },
    {
        "id": "46fbb9db95874ae4",
        "type": "switch",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Until reached",
        "property": "charge.threshold_reached",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1340,
        "y": 160,
        "wires": [
            [
                "e3b603552e8dea64"
            ],
            [
                "9b82173deb660d20"
            ]
        ]
    },
    {
        "id": "e3b603552e8dea64",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Yes -> Charge PV",
        "func": "// If any solar surplus remains, soak it up instead of waiting in Full stop.\nmsg.target = \"Charge PV\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 120,
        "wires": [
            [
                "47107da964bf21cb"
            ]
        ]
    },
    {
        "id": "47107da964bf21cb",
        "type": "link call",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Call flow",
        "links": [],
        "linkType": "dynamic",
        "timeout": "5",
        "x": 1760,
        "y": 120,
        "wires": [
            [
                "5af00cc81a10577f"
            ]
        ]
    },
    {
        "id": "5af00cc81a10577f",
        "type": "link out",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "go to End",
        "mode": "link",
        "links": [
            "a224e55babf5d0df"
        ],
        "x": 1900,
        "y": 120,
        "wires": [],
        "l": true
    },
    {
        "id": "0f7c4d95a5db80ec",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Decided",
        "func": "const log = global.get(\"logger\");\n\nif(msg.charge.threshold_reached){\n    log(this,`Stop charging, Charge until ${msg.charge.goal} reached.`);\n} else {\n    log(this,`Continue charging.`);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 160,
        "wires": [
            [
                "46fbb9db95874ae4"
            ]
        ]
    },
    {
        "id": "aa80d2f63b358d7d",
        "type": "switch",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Charge until",
        "property": "charge.goal",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "batteries are full",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "state of charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "energy reserve",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 590,
        "y": 180,
        "wires": [
            [
                "3ce7a32b991096eb"
            ],
            [
                "7f23013a7e001a3e"
            ],
            [
                "1aace0e66eeccbb7"
            ],
            [
                "874588d8560898a0"
            ]
        ]
    },
    {
        "id": "616bd822e94a4a8e",
        "type": "api-current-state",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Goal",
        "server": "176d29a.6f648d6",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.house_battery_strategy_charge_goal",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            },
            {
                "property": "charge.goal",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "aa80d2f63b358d7d"
            ]
        ]
    },
    {
        "id": "1d8613a184bb20b6",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "Init",
        "func": "msg.charge = {};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "616bd822e94a4a8e",
                "e7df5346b8196e72"
            ]
        ]
    },
    {
        "id": "dfc5ddbc59369cc3",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "08b5d8212f5810c0",
        "name": "Min/max",
        "func": "\n// Lower bound\nlet output = msg.charge.threshold_energy || 0; // kWh\noutput = Math.max(output, 0);\n\n// Upper bound\noutput = Math.min(output, msg.batteries_max_energy);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`${output}`});\n\n// Output\nmsg.payload = output;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 200,
        "wires": [
            [
                "704963272443bd5a"
            ]
        ]
    },
    {
        "id": "704963272443bd5a",
        "type": "api-call-service",
        "z": "aa651c7a4ecb8040",
        "g": "08b5d8212f5810c0",
        "name": "Set desired energy reserve",
        "server": "176d29a.6f648d6",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_number.house_battery_strategy_charge_target_energy"
        ],
        "labelId": [],
        "data": "{\"value\": $$.payload}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_number",
        "service": "set_value",
        "x": 2010,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "84438b73c522732e",
        "type": "rbe",
        "z": "aa651c7a4ecb8040",
        "g": "08b5d8212f5810c0",
        "name": "Desired energy changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1600,
        "y": 200,
        "wires": [
            [
                "dfc5ddbc59369cc3"
            ]
        ]
    },
    {
        "id": "e7df5346b8196e72",
        "type": "debug",
        "z": "aa651c7a4ecb8040",
        "g": "7e75648bf0ae9a07",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "fa130988afa61e91",
        "type": "catch",
        "z": "aa651c7a4ecb8040",
        "g": "9a7d91cbc76dc02f",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 75,
        "y": 420,
        "wires": [
            [
                "b5e69cdef04d2827"
            ]
        ],
        "l": false
    },
    {
        "id": "b5e69cdef04d2827",
        "type": "function",
        "z": "aa651c7a4ecb8040",
        "g": "9a7d91cbc76dc02f",
        "name": "Unhandled Exception",
        "func": "const handle = global.get('unhandledException');\n\nhandle(this);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 125,
        "y": 420,
        "wires": [
            [
                "34ad9ae14025f2e6"
            ]
        ],
        "l": false
    },
    {
        "id": "34ad9ae14025f2e6",
        "type": "link out",
        "z": "aa651c7a4ecb8040",
        "g": "9a7d91cbc76dc02f",
        "name": "link out 3",
        "mode": "return",
        "links": [],
        "x": 175,
        "y": 420,
        "wires": []
    },
    {
        "id": "176d29a.6f648d6",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    },
    {
        "id": "f47e93ecf5ee0817",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]